#mac OS
.DS_Store

# exclude node modules
node_modules

# exlude .env file that contains sensitive data
*.env
*.ppk
.env*
!.env.example

# large data
/large-data

# ignore vscode settings
.vscode

# python
venv/
__pycache__/
*.py[cod]
*$py.class

# database dumps and data
*/dumps/
*/data/
