name: Continuos Integration

on:
  workflow_dispatch:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

jobs:
  run_api_tests:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./api
    steps:
      - uses: actions/checkout@v4
      - name: Build docker image for migration manager
        run: |
          cd $GITHUB_WORKSPACE/tools/db/migration_manager
          docker build -t migration-manager .
      - name: Build docker image for api tests
        run: |
          docker build --target test -t kevbot_api_test .
      - name: Run tests
        run: |
          docker run --rm \
          --network host \
          -v ./../db/migration:/db/migration \
          -v /var/run/docker.sock:/var/run/docker.sock \
          -e DOCKER_HOST=unix:///var/run/docker.sock \
          kevbot_api_test
